@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-family: 'Bebas Neue', cursive;
}
a{
    text-decoration: none;
    color: white;
}
body{
    background-color: #1E2131;
}
.texto-vermelho{
    color: #F2594F;
}
/*HEADER */


.header{
    background-image: url(imgs/676371.jpg);
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
    margin: auto;
    width: 100%;
    height: 500px;
    color: white;
    /*filter: saturate(30%); */
    position: relative;
    padding-top: 15px;
}
.menu{
    text-align: center;
    background-color: #F2594F;
    width: 70%;
    height: 70%;
    box-sizing: border-box;
    margin: auto ;
    border-radius: 15px;
}
.bruno-do-meio{
    position: absolute;
    text-align: center;
    top: 40%;
    left: 50%;
    transform:translateX(-50%);
    
}
.bruno-borda{
    border-radius: 50%;
    max-width: 100px;
}
.menu-li{ /* MUDAR A LI PARA UMA CLASSE */
    list-style-type: none;
    display: inline-block;
    margin: 10px;
}
.menu-li a:hover{
    color: #1E2131;
    transition: 0.5s;
}

/* CONTEUDO PRINCIPAL */


.conteudo-principal{
    color: white;
    margin: auto;
    margin-left: 15px;
    margin-right: 15px;
}
.about-texto{
    margin-top: 20px;
    max-width: 1500px;
    margin: auto;
    text-align: justify;
}
.information{
    margin-top: 20px;
    border: 1px solid #F2594F;
    border-radius: 10px;
    box-shadow: 0 0 5px #F2594F;
}
.btn-download{
    background-color: #F2594F;
    padding: 15px;
    width: 100px;
    text-align: center;
    margin-top: 35px;
    margin-bottom: 35px;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.btn-download:hover{
    background-color: transparent;
    border: 1px solid #F2594F;
    transition: 0.8s;
}
.information-ul {
    list-style-type: none;
    margin-left: 20px;
    /*margin-left: 50px; COLOCAR DEPOIS DE 900PX
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    */
  }
  .information-ul li{
    margin: 20px;
  }
.information-color{
    color: #F2594F;
    margin-right: 7px;
}

/* MY SERVIÇES */


.div-servicos{
    margin: auto;
}
.meus-servicos{
    border: 1px solid #F2594F;
    margin: auto;
    margin-bottom: 70px;
    margin-top: 10px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 5px #F2594F;
}
.meus-servicos h3{
    margin-bottom: 10px;
}
.color-servicos{
    color: #F2594F;
    font-size: 3rem;
    margin-bottom: 20px;
}

/* FOOTER */

.footer{
    background-color: #F2594F;
    max-width: 100%;
}
.footer-ul{
    list-style-type: none;
    text-align: center;
    padding: 20px;
}
.footer-ul li{
    display: inline;
    margin: 8px;
}
.footer-ul li:hover{
    color: white;
    transition: 0.5s;
}
.footer-imgs{
    width: 20px;
    margin-top: 10px;
    color: #1E2131;
}
.footer-color-a{
    color: #1E2131;
}
.teste{
    background-color: blue;
    width: 200px;
}

@media screen and (min-width:950px){
    body{
        font-size: 19px;
    }
    .div-servicos{
        display: flex;
        margin-bottom: 20px;
    }
    .meus-servicos{
       width: 270px;
       height: 270px;
    }
    .information{
        width: 50%;
        margin: auto;
        margin-top: 50px;
        box-sizing: border-box;
    }
    .information-ul{
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    } 
    .information-abaixo{
       padding-top: 30px;
       
    }
    .menu{
        width: 50%;
        height: 50%;
    }
    .menu-li{
       padding-left: 20px;
       padding-right: 20px;
    }
    .btn-download{
        margin: auto;
        margin-top: 40px;
        margin-bottom: 40px;
    }
   
}