@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-family: 'Bebas Neue', cursive;
}
a{
    text-decoration: none;
    color: white;
}
body{
    background-color: #1E2131;
}
.texto-vermelho{
    color: #F2594F;
}
/*HEADER */


.header{
    background-image: url(imgs/676371.jpg);
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
    margin: auto;
    width: 100%;
    height: 500px;
    color: white;
    /*filter: saturate(30%); */
    position: relative;
    padding-top: 15px;
    font-size: 16px;
}
.menu{
    text-align: center;
    background-color: #F2594F;
    width: 80%;
    height: 80%;
    margin: auto ;
    border-radius: 15px;
}
.bruno-do-meio{
    position: absolute;
    text-align: center;
    top: 40%;
    left: 50%;
    transform:translateX(-50%);
    
}
.bruno-borda{
    border-radius: 50%;
    max-width: 100px;
}
.menu-li{ /* MUDAR A LI PARA UMA CLASSE */
    list-style-type: none;
    display: inline-block;
    margin: 10px;
}
.menu-li a:hover{
    color: #1E2131;
    transition: 0.5s;
}

/* CONTEUDO PRINCIPAL */


.conteudo-principal{
    color: white;
    margin: auto;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 16px;
}
.about-texto{
    margin-top: 20px;
    max-width: 1300px;
    margin: auto;
    text-align: justify;
}
.information{
    margin-top: 20px;
    border: 1px solid #F2594F;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 0 5px #F2594F;
}
.btn-download{
    background-color: #F2594F;
    padding: 15px;
    width: 100px;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.btn-download:hover{
    background-color: transparent;
    border: 1px solid #F2594F;
    transition: 0.8s;
}
.information-ul {
    columns: 2;
    list-style-type: none;
    -webkit-columns: 2;
    -moz-columns: 2;
    /*margin-left: 50px; COLOCAR DEPOIS DE 900PX*/
  }
  .information-ul li{
    padding-bottom: 10px;
  }

/* MY SERVIÇES */


.div-servicos{
    margin: auto;
}
.meus-servicos{
    border: 1px solid #F2594F;
    margin: auto;
    margin-bottom: 20px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 5px #F2594F;
}

/* FOOTER */

.footer{
    background-color: #F2594F;
    max-width: 100%;
}
.footer-ul{

}
.footer-imgs{
    width: 20px;
    margin-top: 10px;
    color: #1E2131;
}
.footer-color-a{
    color: #1E2131;
}

/* WHATSAPP 
.wpp{
    position: fixed;
    left: 78%;
    top: 85%;
} */