@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-family: 'Bebas Neue', cursive;
}
body{
    background-color: #1E2131;
}
.texto-vermelho{
    color: #F2594F;
}
.header{
    background-image: url(imgs/676371.jpg);
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
    margin: auto;
    width: 100%;
    height: 500px;
    color: white;
    /*filter: saturate(30%); */
    position: relative;
    padding-top: 15px;
}
.menu{
    text-align: center;
    background-color: #F2594F;
    width: 80%;
    height: 80%;
    margin: auto ;
    border-radius: 15px;
}
.bruno-do-meio{
    position: absolute;
    text-align: center;
    top: 40%;
    left: 50%;
    transform:translateX(-50%);
    
}
.bruno-borda{
    border-radius: 50%;
    max-width: 100px;
}
li{
    list-style-type: none;
    display: inline-block;
    margin: 10px;
}

/* CONTEUDO PRINCIPAL */
.conteudo-principal{
    color: white;
    margin: auto;
}
.about-texto{
    margin-top: 20px;
    max-width: 900px;
    margin: auto;
    
}
.information{
    margin-top: 20px;
    border: 1px solid #F2594F;
    border-radius: 10px;
    padding: 50px;
}
/* WHATSAPP */
.wpp{
    position: fixed;
    left: 72%;
    top: 85%;
}