@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 19px;
    font-family: 'Bebas Neue', cursive;
}
body{
    background-color: #1E2131;
}
.texto-vermelho{
    color: #F2594F;
}
.header{
    background-image: url(imgs/676371.jpg);
    background-size: cover;
    background-position: top;
    margin: auto;
    width: 100%;
    height: 500px;
    color: white;
    /*filter: saturate(30%); */
    position: relative;
}
.logo{
    float: left;
    margin-left: 20px;
    margin-top: 30px;
}
.menu{
    float: right;
    margin-right: 20px;
    margin-top: 30px;
}
.bruno-do-meio{
    position: absolute;
    text-align: center;
    top: 40%;
    left: 50%;
    transform:translateX(-50%);
    
}
.bruno-borda{
    border-radius: 50%;
    max-width: 100px;
}
li{
    float: left;
    list-style-type: none;
    margin-right: 50px;
}

/* CONTEUDO PRINCIPAL */
.conteudo-principal{
    color: white;
    margin: auto;
    position: relative;
}
.about-texto{
    position: absolute;
    left: 50%;
    margin-top: 20px;
}
.information{
    margin-top: 20px;
    border: 1px solid #F2594F;
    border-radius: 10px;
    display: flex;
    padding: 50px;
}
